# Configuration file production date: 22/03/2024 13:02:28


module {
	daq {
		lib : /lib/libnidaq.so,
		fcn : NIdaq,
		enable : true,
		next : recorder,
	}
	recorder {
		lib : /lib/libnidaq.so,
		fcn : HDF5Recorder,
		enable : true,
		next : daq,
	}
}

facility : 4,
fridge_run : 12,
fridge_run_start : 1709953200,
series_start : 1711137749,
group_start : 1711136491,
comment : "1st cont run with 3 channels 1,2 and 4 biased. 400mV High Z. Ch1 1000Ohm Ch2 102kOhm Ch4 30kOhm. 4K=3. Cs-137 source",
data_purpose : Test,
data_type : 1,
run_purpose : Test,
run_type : 1,
group_name : continuous_I4_D20240322_T124130,
group_comment : "1st cont run with 3 channels 1,2 and 4 biased. 400mV High Z. Ch1 1000Ohm Ch2 102kOhm Ch4 30kOhm. 4K=3. Cs-137 source",
prefix : /home/mwilliams/data/run12/raw/continuous_I4_D20240322_T124130/cont,

adc1 {
	sample_rate : 1250000.0,
	nb_samples : 1250000,
	channel : Dev8/ai0:1 Dev8/ai3,
	Vmin : -5.0 -5.0 -5.0,
	Vmax : 5.0 5.0 5.0,
	connection0 : detector:Si_4percent controller:starcryo1_1 tes:1,
	connection1 : detector:W1D4_center controller:starcryo1_2 tes:2,
	connection2 : detector:W1E3 controller:starcryo1_3 tes:3,
	connection3 : detector:W2A5_TES100x25 controller:starcryo1_4 tes:4,
	data_mode : cont,
}

detconfig1 {
	tes_bias : 0.00023529411764705883 1e-05 2e-05,
	squid_bias : nan nan nan,
	lock_point_voltage : nan nan nan,
	output_offset : nan nan nan,
	output_gain : 1.0 1.0 1.0,
	preamp_gain : nan nan nan,
	feedback_polarity : nan nan nan,
	feedback_mode : nan nan nan,
	signal_source : nan nan nan,
	signal_gen_voltage : 0.020489 0.020489 0.020489,
	signal_gen_current : 1.0009281875915975e-05 1.0009281875915975e-05 1.0009281875915975e-05,
	signal_gen_frequency : 80.0 80.0 80.0,
	signal_gen_shape : dc dc dc,
	signal_gen_phase_shift : nan nan nan,
	signal_gen_source : nan nan nan,
	signal_gen_onoff : on on on,
	feedback_resistance : 100000.0 100000.0 100000.0,
	squid_turn_ratio : 10.0 10.0 10.0,
	shunt_resistance : 0.002 0.002 0.002,
	signal_gen_tes_resistance : 2047.0 2047.0 2047.0,
	close_loop_norm : 1000000.0 1000000.0 1000000.0,
	open_loop_preamp_norm : nan nan nan,
	open_loop_full_norm : nan nan nan,
	adc_name : adc1,
	channel_type : adc,
	channel_list : 0 1 3,
}
