
*__pycache__/*
*.pyc

### ignore jupyter checkpoints

*.ipynb_checkpoints/

# ignore compiled Python code
build/*
dist/*
*.egg-info/*

# ignore autosaved files

*.*~

# ignore Windows executables and compiler output

*.exe
*.obj

# cache

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/

# ignore env folders in display when running website
*/env/*
